<div class="acfbreeze--content-group">
    {% for layout in group.layouts(postId) %}
        {% include layout.path() with {
            layout: layout,
            package: package
        } %}
    {% endfor %}
</div>